<div class="w-100 d-flex justify-content-center">
    <div class="w-50">
        <h1>User info</h1>

        <% if @user.errors.any? %>
            <div class="text-danger ml-5">
              <h1><span class=""><%= @user.errors.count %> errors prohibited this objects from being saved:</span></h1>
              <ul>
                  <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                  <% end %>
              </ul>
            </div>
        <% end %>

        <%= form_with model: @user, local: true do |f| %>
        <div class="form-group">
            <%= f.label :name, "Name", :class => "form-label" %><br>
            <%= f.text_field :name, :class => "form-control"  %>
        </div>
        <div class="form-group">
            <%= f.label :profile_image, "Image", :class => "form-label" %><br>
            <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
        </div>
        <div class="form-group">
            <%= f.label :introduction, "Introduction", :class => "form-label" %><br>
            <%= f.text_area :introduction, :class => "form-control" %>
        </div>
            <%= f.submit "Update User", method: :update, class: "btn btn-success" %>
        <% end %>
    </div>
</div>
